main
    display: grid
    grid-template-columns: auto max-content
    column-gap: 3em
    margin: 1em auto
    width: 100%
    max-width: 35em
    row-gap: 1em
    overflow: hidden

.factContainer
    overflow: hidden

.factContainer * 
    display: inline
    overflow-wrap: anywhere
    overflow: hidden


.factData
    font-weight: 800


.optionContainer * 
    display: inline


@media screen and (max-width: 35em) 
    main
        grid-template-columns: max-content
    